---
title: OK | Traduzioni by Oksana Kozitska
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable" style="color:#222;">
			Benvenuti привіт!
		</h2>
		<p class="subtext editable"> Specializzati in traduzioni dal/al Russo e Ucraino. I nostri <a href="{{ site.baseurl }}/priceservice/">Prezzi & Servizi</a></p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Price & Service</h3>
			<p class="editable">Alcuni dei servizi offerti dalla nostra azienda</p>
			<p class="editable">
				<a data-cms-editor-link-style="undefined" href="/traduzioni/priceservice/">View Full Portfolio &rarr;</a>
			</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/logo.svg" width="300" style="margin-bottom: 40px;" /></li>
				<li><img src="{{ site.baseurl }}/images/logocolorato.png" width="300" /></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">
				Perch&egrave; affidarsi alla nostra Azienda e usare i nostri servizi?
			</h3>
			<p class="editable">
				Se state cercando professionalit&agrave;bravurà e affidabilit&agrave;, OK | Traduzioni rappresenta la scelta migliore, voi, i vsotri clienti 
				e fornitori non rimarrete mai delusi dal nostro lavoro. Mettiamo al primo posto la vostra soddisfazione, le nsotre abilità e competenze sono
				a vostra completa disposizione.	
			</p>
		</div>
	</div>
</section>
